<h1>À propos</h1>
<p>YC movies est une association à but non lucratif domiciliée dans le canton de Neuchâtel. Son but premier est de permettre à de jeunes réalisateurs de créer des court-métrages artistiques de qualité.

Afin de financer les coûts de l'association, YC movies réalise régulièrement des projets promotionnels, des vidéos de mariage ou des vidéos de sports ou passions.

L'équipe de YC movies n'est pas constitué de professionnels. Chaque projet est pour nous une expérience de plus qui nous permet de nous améliorer. Toutefois, nous réalisons notre travail avec rigueur et nous respectons nos engagements.

Si vous avez besoin d'une vidéo promotionnelle ou si vous souhaitez voir nos court-métrages artistiques, contactez-nous. Nous nous ferons un plaisir de vous répondre.</p>