<% @posts.each do |post| %>
<div class="article">
	<div class="clr"></div>
	
	<h2><span><%=link_to post.title,post%></span></h2>
	<img src="http://img.youtube.com/vi/<%=post.media %>/hqdefault.jpg" width="263" height="146" alt="" class="fl" />
	<p><%=post.body%></p>
	 <p class="spec"><%= link_to "Read more", post, class: "rm" %></p>
</div>
<% end%>